


















<!--

<style>
 .whyUs-title{
  padding-bottom: 25px;
  text-align:center;
 }
 
 .whyUs-title h3{
  font-weight:600;
  font-size:30px;
 }
 	
 .whyUs-col{
 
 /*
    width: 80%;
    height: 250px;
    padding: 20px 10px;
	
	*/
	height: 250px;
    padding: 20px 10px;
    border: 1px solid #dfdfdf;
    margin-bottom: 27px;background: #59c45a;
 }
	
 .whyUs-top{
   text-align: center;
   font-size: 60px;
   color:#fff;
  }
.whyUs-bot{text-align:center;}
  .whyUs-bot h3{
    font-size: 17px;
    color: #fff;
    padding: 15px 0px;
    font-weight: 300;
  }
  
  .whyUs-bot p{
   font-size:15px;color: #fff;
  }
	
	
	
</style>

<div class="container-fluid bg_white border-top-solid">
	<div class="container">
		<div class="col-md-12">
		  <div class="dibba1">
			 EAN Theme gives	    <span>your customer: </span> </div>
		  <div class="dibba2">
		  The Best Selection	   <span>
		   More than 300, 000 options world wide.	  </span></div>
		  <div class="dibba3">
		  Lowest Price	   <span>  We guarantee it!</span></div>
		  <div class="dibba4">
		  Fast &amp; Easy Booking	   <span>Book online to lock in your tickets.</span></div>
		  <div class="clear"></div>
		</div>
	</div>
	
</div>

<div class="container-fluid container-padding bg-grey text-align-center">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<p class="home-icon1"><i class="fa fa-home" aria-hidden="true"></i></p>
				<h4 class="block-category">Check it Out</h4>
				<h2 class="block-title">POPULAR HOLIDAY DEALS</h2>
				<div class="block-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</div>
			</div>
		</div>
	</div>
	<div class="container add_top_45">
		<div class="row">
			<div class="col-md-12">
				<div class="col-xs-12 col-sm-6 col-md-3">
					<div class="service-entry  border-all bg_white">
						<p class="service-icon"><i class="fa fa-car"></i></p>
						<h4 class="service-title">TRAVEL MARKETPLACE GIVES</h4>
						<div class="service-text">your customer</div>
					</div>
				</div>
				
				<div class="col-xs-12 col-sm-6 col-md-3 ">
					<div class="service-entry border-all bg_white">
						<p class="service-icon"><i class="fa fa-thumbs-up"></i></p>
						<h4 class="service-title">TRAVEL MARKETPLACE GIVES</h4>
						<div class="service-text">your customer</div>
					</div>
				</div>
				
				
				<div class="col-xs-12 col-sm-6 col-md-3 ">
					<div class="service-entry border-all bg_white">
						<p class="service-icon"><i class="fa fa-tag"></i></p>
						<h4 class="service-title">TRAVEL MARKETPLACE GIVES</h4>
						<div class="service-text">your customer</div>
					</div>
				</div>
				
				<div class="col-xs-12 col-sm-6 col-md-3">
					<div class="service-entry  border-all bg_white">
						<p class="service-icon"><i class="fa fa-shopping-cart"></i></p>
						<h4 class="service-title">TRAVEL MARKETPLACE GIVES</h4>
						<div class="service-text">your customer</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>




<div class="container-fluid container-padding bg_white text-align-center">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2 class="block-title">The most popular holiday.</h2>
				<div class="block-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</div>
			</div>
		</div>
	</div>
	<div class="container add_top_45">
		<div class="row">
			<div class="col-md-12">
				<div class="col-md-4">
						<div class="thumbnail-backg-3"> 
							<div class="thumbnail">
							 <a href="#">
							<img class="media-object" src="http://www.adivaha.com/demo/vacation-rental-wordpress-theme/wp-content/themes/adivaha/images/home-3-1.jpg" alt="..."> </a>
							</div>
								<div class="H3-days">
								 <a href="#">4 days 3 nights</a>
								</div>
								
							<div class="caption">	
								 <div class="min_flt3">
									 <h3>Paris in Love </h3>
									 <p class="min_3lf"><img class="media-object" src="http://www.adivaha.com/demo/vacation-rental-wordpress-theme/wp-content/themes/adivaha/images/star-1.png" alt="..."></p>
									 <p class="min_3lr"> $300</p>
								</div>
							</div>
						</div>
				</div>
				
			
				
				<div class="col-md-4">
						<div class="thumbnail-backg-3"> 
							<div class="thumbnail">
							 <a href="#">
							<img class="media-object" src="http://www.adivaha.com/demo/vacation-rental-wordpress-theme/wp-content/themes/adivaha/images/home-3-1.jpg" alt="..."> </a>
							</div>
								<div class="H3-days">
								 <a href="#">4 days 3 nights</a>
								</div>
								
							<div class="caption">	
								 <div class="min_flt3">
									 <h3>Paris in Love </h3>
									 <p class="min_3lf"><img class="media-object" src="http://www.adivaha.com/demo/vacation-rental-wordpress-theme/wp-content/themes/adivaha/images/star-1.png" alt="..."></p>
									 <p class="min_3lr"> $300</p>
								</div>
							</div>
						</div>
				</div>
				
				<div class="col-md-4">
						<div class="thumbnail-backg-3"> 
							<div class="thumbnail">
							 <a href="#">
							<img class="media-object" src="http://www.adivaha.com/demo/vacation-rental-wordpress-theme/wp-content/themes/adivaha/images/home-3-1.jpg" alt="..."> </a>
							</div>
								<div class="H3-days">
								 <a href="#">4 days 3 nights</a>
								</div>
								
							<div class="caption">	
								 <div class="min_flt3">
									 <h3>Paris in Love </h3>
									 <p class="min_3lf"><img class="media-object" src="http://www.adivaha.com/demo/vacation-rental-wordpress-theme/wp-content/themes/adivaha/images/star-1.png" alt="..."></p>
									 <p class="min_3lr"> $300</p>
								</div>
							</div>
						</div>
				</div>
				
				
			</div>
		</div>
	</div>
</div>






<div class="container-fluid container-padding bg-grey text-align-center">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2 class="block-title">The most popular holiday.</h2>
				<div class="block-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</div>
			</div>
		</div>
	</div>
	<div class="container-fluid add_top_45">
		<div class="row">
				<div class="col-md-4 destinations">
					 <div class="gal-col">
						<a href="http://hotels.adivaha.com/en/hotels/turkey/istanbul-3260/2016-06-02/2016-06-03/1-rooms/2-guests/68786943"><img src="http://www.adivaha.com/demo/wego/wp-content/themes/adivaha/images/gal1.jpg" class="img-responsive"></a>
					 </div>
					 <div class="thumb_content">
						 <div class="thumb_title"><div class="tour_country">
									TURKEY
								</div><h3>Grand Turkey</h3>
						  </div>
						  <div class="thumb_meta">
							  <div class="tour_days">
									8 Days
							  </div>
							  <div class="tour_price">
									$3,000
							  </div>
						 </div>
					 </div>
				  </div>
				  
				  <div class="col-md-4 destinations">
					 <div class="gal-col">
						<a href="http://hotels.adivaha.com/en/hotels/turkey/istanbul-3260/2016-06-02/2016-06-03/1-rooms/2-guests/68786943"><img src="http://www.adivaha.com/demo/wego/wp-content/themes/adivaha/images/gal1.jpg" class="img-responsive"></a>
					 </div>
					 <div class="thumb_content">
						 <div class="thumb_title"><div class="tour_country">
									TURKEY
								</div><h3>Grand Turkey</h3>
						  </div>
						  <div class="thumb_meta">
							  <div class="tour_days">
									8 Days
							  </div>
							  <div class="tour_price">
									$3,000
							  </div>
						 </div>
					 </div>
				  </div>
				  
				  
				  <div class="col-md-4 destinations">
					 <div class="gal-col">
						<a href="http://hotels.adivaha.com/en/hotels/turkey/istanbul-3260/2016-06-02/2016-06-03/1-rooms/2-guests/68786943"><img src="http://www.adivaha.com/demo/wego/wp-content/themes/adivaha/images/gal1.jpg" class="img-responsive"></a>
					 </div>
					 <div class="thumb_content">
						 <div class="thumb_title"><div class="tour_country">
									TURKEY
								</div><h3>Grand Turkey</h3>
						  </div>
						  <div class="thumb_meta">
							  <div class="tour_days">
									8 Days
							  </div>
							  <div class="tour_price">
									$3,000
							  </div>
						 </div>
					 </div>
				  </div>
				  
				  
				  <div class="col-md-4 destinations">
					 <div class="gal-col">
						<a href="http://hotels.adivaha.com/en/hotels/turkey/istanbul-3260/2016-06-02/2016-06-03/1-rooms/2-guests/68786943"><img src="http://www.adivaha.com/demo/wego/wp-content/themes/adivaha/images/gal1.jpg" class="img-responsive"></a>
					 </div>
					 <div class="thumb_content">
						 <div class="thumb_title"><div class="tour_country">
									TURKEY
								</div><h3>Grand Turkey</h3>
						  </div>
						  <div class="thumb_meta">
							  <div class="tour_days">
									8 Days
							  </div>
							  <div class="tour_price">
									$3,000
							  </div>
						 </div>
					 </div>
				  </div>
				  
				  <div class="col-md-4 destinations">
					 <div class="gal-col">
						<a href="http://hotels.adivaha.com/en/hotels/turkey/istanbul-3260/2016-06-02/2016-06-03/1-rooms/2-guests/68786943"><img src="http://www.adivaha.com/demo/wego/wp-content/themes/adivaha/images/gal1.jpg" class="img-responsive"></a>
					 </div>
					 <div class="thumb_content">
						 <div class="thumb_title"><div class="tour_country">
									TURKEY
								</div><h3>Grand Turkey</h3>
						  </div>
						  <div class="thumb_meta">
							  <div class="tour_days">
									8 Days
							  </div>
							  <div class="tour_price">
									$3,000
							  </div>
						 </div>
					 </div>
				  </div>
				  
				  
				  <div class="col-md-4 destinations">
					 <div class="gal-col">
						<a href="http://hotels.adivaha.com/en/hotels/turkey/istanbul-3260/2016-06-02/2016-06-03/1-rooms/2-guests/68786943"><img src="http://www.adivaha.com/demo/wego/wp-content/themes/adivaha/images/gal1.jpg" class="img-responsive"></a>
					 </div>
					 <div class="thumb_content">
						 <div class="thumb_title"><div class="tour_country">
									TURKEY
								</div><h3>Grand Turkey</h3>
						  </div>
						  <div class="thumb_meta">
							  <div class="tour_days">
									8 Days
							  </div>
							  <div class="tour_price">
									$3,000
							  </div>
						 </div>
					 </div>
				  </div>

		</div>
	</div>
</div>


<div class="container-fluid  bg_white container-padding whyUs">
	
	  <div class="container">
	       <div class="whyUs-title"><h3>Why Book with Us</h3></div>
		   
		   <div class="block-text" style="text-align: center;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</div>
		   
		   <div class="row add_top_45">
		      <div class="col-md-4">
			     <div class="whyUs-col">
				    <div class="whyUs-top">
					   <i class="fa fa-check-square-o" aria-hidden="true"></i>
					</div>
					
					<div class="whyUs-bot">
					  <h3>Book Cheap Air tickets to any destination across the world.</h3>
					  <p>Best Price Guarantee.</p>
					</div>
				 </div>
			  </div>
			  
			  
			    <div class="col-md-4">
			     <div class="whyUs-col">
				    <div class="whyUs-top">
					   <i class="fa fa-check-square-o" aria-hidden="true"></i>
					</div>
					
					<div class="whyUs-bot">
					  <h3>Choose from more than 1000 Best rated Hotels.</h3>
					  <p>From cheap hotels to luxurious resorts.</p>
					</div>
				 </div>
			  </div>
			  
			    <div class="col-md-4">
			     <div class="whyUs-col">
				    <div class="whyUs-top">
					   <i class="fa fa-check-square-o" aria-hidden="true"></i>
					</div>
					
					<div class="whyUs-bot">
					  <h3>Get the Best deals on Holiday Packages to multiple destinations.</h3>
					</div>
				 </div>
			  </div>
			  
			    <div class="col-md-4">
			     <div class="whyUs-col">
				    <div class="whyUs-top">
					   <i class="fa fa-check-square-o" aria-hidden="true"></i>
					</div>
					
					<div class="whyUs-bot">
					  <h3>Find Budget Airlines and Full service Airlines in one screen.</h3>
					</div>
				 </div>
			  </div>
			  
			    <div class="col-md-4">
			     <div class="whyUs-col">
				    <div class="whyUs-top">
					   <i class="fa fa-check-square-o" aria-hidden="true"></i>
					</div>
					
					<div class="whyUs-bot">
					  <h3>Experience the convenience and savings.</h3>
					  <p>Browse cheap flight tickets in a user-friendly website.</p>
					</div>
				 </div>
			  </div>
			  
			    <div class="col-md-4">
			     <div class="whyUs-col">
				    <div class="whyUs-top">
					   <i class="fa fa-check-square-o" aria-hidden="true"></i>
					</div>
					
					<div class="whyUs-bot">
					 <h3>Book Airline tickets from a wide choice of Airlines.</h3>
					</div>
				 </div>
			  </div>
			  
			
			  
		   
		   </div>
	  </div>
</div>




-->








