<style>
.horizontal-box {display:none;}
.fixing-row {padding-bottom:40px;}
</style>
<div class="container">
  <div class="row fixing-row">
    <div class="col-md-8">
    <div class="content">
      <div class="column-left">
	  <div class="col-left-menu">
	   <ul>
	     <li class="col-left-photos"  ng-click="gotoAnchor('photosArea')">Photos</li>
	     <li class="col-left-rooms" ng-click="gotoAnchor('RoomsArea')">Rooms</li>
	     <li class="col-left-map" ng-click="gotoAnchor('MapArea')">Map</li>
	     <li class="col-left-reviews" ng-click="gotoAnchor('ReviewsArea')">Reviews</li>
	     <li class="col-left-amenities"  ng-click="gotoAnchor('AmenitiesArea')">Amenities</li>
	   </ul>
	  </div>
	  <div class="slider_modifie">
          <div class="hotel-information_title">
		   
            <h2 class="the-title">{{ HotelSummary.name }}</h2>
            
            <div class="hotel-information_address">
              <div>
                <p>{{ HotelSummary.address1 }} {{ HotelSummary.address2 }}, {{ HotelSummary.city }} , {{ HotelSummary.countryCode }} , {{ HotelSummary.postalCode }}  </p>
                <p class="searchHot_rating rating-{{ HotelSummary.hotelRating }}"></p>
              </div>
			  <!--
              <div>
                <ul>
                  <li class="col-left-photos"><a href="" ng-click="gotoAnchor('photosArea')"> Photos</a></li>
                  <li class="col-left-rooms"><a href="" ng-click="gotoAnchor('RoomsArea')"> Rooms </a></li>
                  <li class="col-left-map"><a href="" ng-click="gotoAnchor('MapArea')"> Map </a></li>
                  <li class="col-left-reviews"><a href="" ng-click="gotoAnchor('ReviewsArea')"> Reviews </a></li>
                  <li class="col-left-amenities"><a href="" ng-click="gotoAnchor('AmenitiesArea')"> Ameneties </a></li>
                </ul>
              </div>
			  -->
            </div>
          </div>
          <div class="hotelInfo_slideshow" id="photosArea">
            <div  id="slides_control">
			
    <!-- Carousel
          ================================================== -->
    <!--<div id="myCarousel_2ade" class="carousel slide" data-ride="carousel">
     
	 <ol class="carousel-indicators">
        <li data-target="#myCarousel_2ade" ng-repeat="img in images" ng-class="{active: (img === 0)}" data-slide-to="{{img}}">
			<img ng-src="{{uri}}/{{w}}/{{h}}/{{currentFolder}}/{{img}}" alt="Slide number {{img}}">
			<img ng-src="{{slide.image}}" style="margin:auto;">
			
		</li>
      </ol>
      <div class="carousel-inner">
        <div ng-class="{item: true, active: (img === 0)}" ng-repeat="img in images">
          <img ng-src="{{uri}}/{{w}}/{{h}}/{{currentFolder}}/{{img}}" alt="Slide number {{img}}">
          <div class="container">
            <div class="carousel-caption">
				<h3>{{ bannerheading}} </h3>
				<p>{{ bannercontent}} </p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel_2ade" role="button" data-slide="prev"><span class="glyphicon glyphicon-chevron-left fa fa-chevron-left"></span></a>
      <a class="right carousel-control" href="#myCarousel_2ade" role="button" data-slide="next"><span class="glyphicon glyphicon-chevron-right fa fa-chevron-right"></span></a>
    </div> -->

  

			 <div class="carouser-container" >
                <div uib-carousel active="active" data-interval="false">
                  <div class="imageDiv" uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id"> <img alt="" ng-src="{{slide.image}}" style="margin:auto;"> </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="room_details">
          <p class="not-pad-it">"Note : It is the responsibility of the hotel chain and/or the individual property to ensure the accuracy of the photos displayed. 'http://www.adivaha.com/demo/travel-theme' is not responsible for any inaccuracies in the photos. "</p>
          <div class="descriptionWrapper">
            <div class="form_title">
              <h3><strong><i class="fa fa-check" aria-hidden="true"></i></strong>Room Detail Description</h3>
              <p>Hotel Information</p>
            </div>
            <div class="step">
              <p>{{HotelDetails.roomDetailDescription}}</p>
            </div>
          </div>
          <!--<h2 class="room-inf">Room Informations</h2>-->
          <div class="room-detailso-serbox" id="RoomsArea">
            <form name="roomAvailability" id="roomAvailability">
              <ul>
                <li> <span class="room_mod_icon"><i class="fa fa-calendar" aria-hidden="true"></i></span> </li>
                
				 <!--
				 <li >
                  <label>Check in </label>
                  <input type="text" name="start" id="checkIn2"  placeholder="Check In" value="{{checkIn}}"  />
                  <i class="fa fa-calendar input-calIcon" aria-hidden="true"></i> </li>
                <li>
                  <label>Check Out</label>
                  <input type="text"  name="end" id="checkOut2" placeholder="Check Out" value="{{checkOut}}" />
                  <i class="fa fa-calendar input-calIcon" aria-hidden="true"></i> </li>
				  -->
				  <li class="input-daterange roomAv_chinOut" data-date-format="M d, D">
				   <ul>
				     <li>
					  <label>Check in </label>
					  <input type="text" name="start2" id="checkIn2"  placeholder="Check In" value="{{checkIn}}" readonly="true" />
					  <i class="fa fa-calendar input-calIcon" aria-hidden="true"></i> </li>
					<li>
					  <label>Check Out</label>
					  <input type="text"  name="end2" id="checkOut2" placeholder="Check Out" value="{{checkOut}}" readonly="true" />
					  <i class="fa fa-calendar input-calIcon" aria-hidden="true"></i> </li>
				   </ul>
				 </li> 
				  
                <li class="date-room-detailso">
                  <label>Room</label>
				  <input type="text" name="Cri_Rooms2" id="Cri_Rooms2" rel="0" value="{{ Totaladults }} Adults in {{ rooms }} Room">
				  <i class="fa fa-male input-calIcon" aria-hidden="true"></i>
                </li>				
                <li>
                  <label>&nbsp;&nbsp;</label>
                  <input class="btn-hack button" type="button" value="Find Best Rates" ng-click="roomAvailabilityTwc();" >
                </li>
              </ul>
			  <div class="roomgroupdata2 hidnumberofrooms2 children-age" >
			     <div class="room_text1" style="color:#000">
				   <div class="nomar"> Rooms</div>
				   <div class="nomar">Adults</div>
				   <div class=" nomar">Children</div>
				 </div>
				  <div class="how_noofRooms" >
					<div class="nomar">
					  <a ng-click="changeRooms2('minus');"><i class="fa fa-minus" aria-hidden="true"></i> </a> 
					  <a>{{count2}}</a> <a ng-click="changeRooms2('plus');"><i class="fa fa-plus" aria-hidden="true"></i> </a>
					  <input type="hidden" class="form-control" name="Cri_noofRooms" id="Cri_noofRooms2" value="{{count2}}">
					 <!--
					  <select id="Cri_noofRooms2" class="form-control" name="Cri_noofRooms" >
						<option value="1" ng-selected="rooms == '1'">1</option>
						<option value="2" ng-selected="rooms == '2'">2</option>
						<option value="3" ng-selected="rooms == '3'">3</option>
						<option value="4" ng-selected="rooms == '4'">4</option>
					  </select> -->
					</div>
					<div id="packListdiv2"></div>
				</div>
				<div class="be-ddn-footer">
					<a href="javascript:void(0)" class="done" ng-click="hideRoomGroup2();">Done</a> 
				 </div>
			 </div> 
			  
			 <div style="clear:both"></div> 
			  
            </form>
          </div>
		  <div class="roomloader">
		    <div><p>Searching for Availibility</p><span><img alt="" ng-src="wp-content/themes/adivaha/images/loading.gif"/></span></div>
		  </div>
		  <div class="no-room-container" ng-if="!Room_Details.length" >
		      <div class="no-records-found">
			      <div class="no-records-img">
				    <img alt="" ng-src="wp-content/themes/adivaha/images/no-rooms.png"/>
				  </div>
				  
				  <div class="no-records-msg">
				    <h4>Sorry! No Rooms found </h4>
					<p>Please select some other dates</p>
				  </div>
			  </div>
		  </div> 
          <ul class="room_details_listing" >
            <li  ng-repeat="Room_Details in Room_Details">
              <div class="room-det-img">
               
                <div uib-carousel active="active" data-interval="false" class="room-det-imgCarousel">
                  <div class="imageDiv" uib-slide ng-repeat="slide in Room_Details.RoomImages.RoomImage track by $index" index="$index"> <img ng-src="{{slide.url}}" alt="" style="margin:auto;"> </div>
                </div>
              </div>
              <div class="room-det-desc">
                <div class="roomNameWrapr">
                  <h4 class="roomType">{{ Room_Details.rateDescription }} - {{ Room_Details.BedTypes.BedType.description }} </h4>
                  <p class="amen">{{ Room_Details.RateInfos.RateInfo.promoDescription }}</p>
                  <div class="roomAmenWrapr">
                    <div class="room_ament">
					
                      <p ng-repeat="ValueAdd in Room_Details.ValueAdds.ValueAdd">
					   <span class="room_amen_icon iconcls_{{ValueAdd.id}}" ng-if="ValueAdd.description"><i class="spriteResult ht-ac"></i></span>{{ValueAdd.description}} 
					  </p>
                    </div>
                  </div>
                </div>
                <div class="roomBookWrapr"> 
                  <p class="roomPrice"> <span class="strThru" ng-if="{{ Room_Details.RateInfos.RateInfo.ChargeableRateInfo.averageBaseRate}} > {{ Room_Details.RateInfos.RateInfo.ChargeableRateInfo.averageRate}}"><span ng-bind-html="symbol"></span>{{ Room_Details.RateInfos.RateInfo.ChargeableRateInfo.averageBaseRate}}</span> <span class="actPrice"><span ng-bind-html="symbol"></span>{{ Room_Details.RateInfos.RateInfo.ChargeableRateInfo.averageRate}}</span> <span class="hotInfo_ppn">per room per night</span> </p>
                  <p class="roomBook"><a class="btn-book" ng-href="#/online-booking/{{ Room_Details.rateCode }}/{{ HotelSummary.hotelId }}/?checkIn={{checkInUrl}}&checkOut={{checkOutUrl}}&language={{Cri_language}}&currency={{Cri_currency}}&rooms={{rooms}}&adults={{adults}}&childs={{childs}}">Book Now</a></p>
                </div>
              </div>
              <p class="roomMoreInfo"><a href="javascript:void(0);" ng-click="ShowHide(Room_Details.rateCode)">Room info & Conditions</a></p>
              <div class="roomMoreInfoDiv" id="roomMoreInfoDiv_{{Room_Details.rateCode}}">
                <div class="roomMore_Content">
                  <h4>More Information</h4>
				  <p ng-bind-html=Room_Details.RoomType.descriptionLong>{{ Room_Details.RoomType.descriptionLong }}</p>
                </div>
				<div class="roomMore_Content">
                  <h4>CheckInInstructions</h4>
                  <p ng-bind-html=checkInInstructions>{{ checkInInstructions }} </p>
                </div>
				<div class="roomMore_Content">
                  <h4>CpecialCheckInInstructions</h4>
                  <p>{{ specialCheckInInstructions }} </p>
                </div>
				<div class="roomMore_Content">
                  <h4>Cancellation Policy</h4>
                  <p>{{ Room_Details.RateInfos.RateInfo.cancellationPolicy }} </p>
                </div>
				 <div class="roomMore_Content" >
                  <h4>Amenities</h4>
                  <ul class="roomMore_Listing" >
                   <li ng-repeat="RoomAmenity in Room_Details.RoomType.roomAmenities.RoomAmenity"> 
				   <span class="chkClass"><i class="fa fa-check" aria-hidden="true"></i></span>
{{ RoomAmenity.amenity}}</li>
                    
                  </ul>
                </div>
				
				
              </div>
            </li>
          </ul>
		  
		  
		  
		  
        </div>
        <div class="hotel_Description">
          <div class="descriptionWrapper" id="AmenitiesArea">
            <div class="form_title">
              <h3><strong><i class="fa fa-check" aria-hidden="true"></i></strong>Amenities</h3>
              <p>Amenities</p>
            </div>
            <div class="step">
              <ul class="float-left-property-Amenity">
                <li ng-repeat="PropertyAmenity in PropertyAmenities"><span class="chkClass"><i class="fa fa-check" aria-hidden="true"></i></span>{{ PropertyAmenity.amenity }}</li>
              </ul>
            </div>
          </div>
          <div class="moreDescription-Div">
            <div class="descriptionWrapper">
              <div class="form_title">
                <h3><strong><i class="fa fa-check" aria-hidden="true"></i></strong>CheckIn Instructions</h3>
                <p>CheckIn Instructions</p>
              </div>
              <div class="step">
                <p ng-bind-html=HotelDetails.checkInInstructions>{{HotelDetails.checkInInstructions}}</p>
              </div>
            </div>
			<div class="descriptionWrapper">
              <div class="form_title">
                <h3><strong><i class="fa fa-check" aria-hidden="true"></i></strong>SpecialCheckInInstructions</h3>
                <p>SpecialCheckInInstructions</p>
              </div>
              <div class="step">
                <p>{{HotelDetails.specialCheckInInstructions}}</p>
              </div>
            </div>
			
            <div class="descriptionWrapper">
              <div class="form_title">
                <h3><strong><i class="fa fa-check" aria-hidden="true"></i></strong>Room Fees Description</h3>
                <p>Room Fees Description</p>
              </div>
              <div class="step">
                <p>
                <div class="roomFeedesc" ng-bind-html=HotelDetails.roomFeesDescription>
				  {{HotelDetails.roomFeesDescription}}
				</div>
                </p>
              </div>
            </div>
            <div class="descriptionWrapper">
              <div class="form_title">
                <h3><strong><i class="fa fa-check" aria-hidden="true"></i></strong>Dining</h3>
                <p>Dining</p>
              </div>
              <div class="step">
                <p>{{HotelDetails.diningDescription}}</p>
              </div>
            </div>
            <div class="descriptionWrapper">
              <div class="form_title">
                <h3><strong><i class="fa fa-check" aria-hidden="true"></i></strong>Hotel Policy</h3>
                <p>Hotel Policy</p>
              </div>
              <div class="step">
                <p>{{HotelDetails.hotelPolicy}}</p>
              </div>
            </div>
            <div class="descriptionWrapper">
              <div class="form_title">
                <h3><strong><i class="fa fa-check" aria-hidden="true"></i></strong>Location Description</h3>
                <p>Location Description</p>
              </div>
              <div class="step">
                <p>{{HotelDetails.locationDescription}}</p>
              </div>
            </div>
            <div class="descriptionWrapper">
              <div class="form_title">
                <h3><strong><i class="fa fa-check" aria-hidden="true"></i></strong>Business, Other Amenities</h3>
                <p>Business, Other Amenities</p>
              </div>
              <div class="step">
                <p>{{HotelDetails.businessAmenitiesDescription}}</p>
              </div>
            </div>
            <div class="descriptionWrapper">
              <div class="form_title">
                <h3><strong><i class="fa fa-check" aria-hidden="true"></i></strong>Amenities Description</h3>
                <p>Amenities Description</p>
              </div>
              <div class="step">
                <p>{{HotelDetails.amenitiesDescription}}</p>
              </div>
            </div>
            <div class="descriptionWrapper">
              <div class="form_title">
                <h3><strong><i class="fa fa-check" aria-hidden="true"></i></strong>Point of Interest</h3>
                <p>Point of Interest</p>
              </div>
              <div class="step">
			  
                <div id="pointInterest" ng-bind-html="areaInfo"></div>
              </div>
            </div>
          </div>
          <div class="descriptionWrapper" id="ReviewsArea">
            <div class="form_title">
              <h3><strong><i class="fa fa-check" aria-hidden="true"></i></strong>TripAdvisor Reviews</h3>
              <p>TripAdvisor Reviews</p>
            </div>
            <div class="step">
              <div id="tripdiv">{{TripAdvisor}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
	</div>
	<div class="col-md-4 nopad-left">
    <div class="nav" id="fixedSide">
      <div>
        <div class="column-right">
          <div class="hotelInfo_modifie">
            <div class="book-aapmoible">
              <p class="you_titlebook">Your selected room rate
              <p>
              <p class="you_titlelock">Lock this price now</p>
            </div>
			  
            <div class="modify_searchContainer">
              <!-- <div class="modifyPriceContainer">
                <p class="modifyStrThru"> 10,500</p>
                <p class="modifyPrice"><sup>&#8360;</sup> 7,875</p>
                <p class="modigyPpN">Per Room Per Night</p>
              </div>-->
              <div class="modifyFormContainer">
                <div class="hotel-inf-serbox">
                  <div class="thumbs-ioncs"> <i class="fa fa-thumbs-o-up" aria-hidden="true"></i> Best price for your travel dates </div>
                  <div class="info_hotl_room_info">
                    <h3 class="inf_room_typ">{{ Room_Details[0].rateDescription }}</h3>
                    <ul class="info_hotl_listing">
                      <li ng-repeat="ValueAdd in Room_Details[0].ValueAdds.ValueAdd">
					   <span class="chkIc" ng-if="ValueAdd.description"><i class="fa fa-check" aria-hidden="true"></i></span>{{ ValueAdd.description}}</li>
                    
                    </ul>
                    <h3 class="info_hotl_Pri"><span ng-bind-html="symbol"></span> {{ Room_Details[0].RateInfos.RateInfo.ChargeableRateInfo.averageRate}}</h3>
                    <span class="info_hotl_PriSpn">
					 per room per night
					</span><a class="hotInfo_bookN" ng-href="#/online-booking/{{ Room_Details[0].rateCode }}/{{ HotelSummary.hotelId }}/?checkIn={{checkInUrl}}&checkOut={{checkOutUrl}}&language={{Cri_language}}&currency={{Cri_currency}}&rooms={{rooms}}&adults={{adults}}&childs={{childs}}">Book Now</a> </div>
                  <div class="hot_info_tripAdd">
                    <p class="revBased">BASED ON THE TRIPADVISOR POPULARITY</p>
                    <p class="hot_infoTripRat">{{HotelSummary.tripAdvisorRating}}<span class="tripAdd_Ic"><img alt="" ng-src="{{HotelSummary.tripAdvisorRatingUrl}}"></span></p>
                    <p class="tripRatFrom"><span class="tripRatFromL">Rating From {{HotelSummary.tripAdvisorReviewCount}} Review(s)</span><span class="tripRatFromR"><a href="javascript:void(0)" ng-click="gotoAnchor('ReviewsArea')">Read All Reviews</a></span></p>
                  </div>
                  <!-- <form class="hotel-inf-serbox-form">
                    <ul>
                      <li>
                        <md-datepicker ng-model="myDate" md-placeholder="Enter date"></md-datepicker>
                      </li>
                      <li>
                        <md-datepicker ng-model="myDate" md-placeholder="Enter date"></md-datepicker>
                      </li>
                      <li class="date-rom_hotinfo">
                        <input type="text" ng-model="rooms" id="rooms" placeholder="Guests" />
                      </li>
                      <li class="date-rom_hotinfo">
                        <input type="text" ng-model="rooms" id="rooms" placeholder="Grand Premium Room" />
                      </li>
                    </ul>
                    <div class="Sub-Tota1-hot">
                      <p class="sub-tota"> Sub Total</p>
                      <ul class="Sub-total-list">
                        <li>
                          <h2> <sup>&#8360;</sup> 10,500</h2>
                        </li>
                        <li>
                          <p>for 1 Room 1 Night</p>
                          <p>Excludes Taxes</p>
                        </li>
                      </ul>
                    </div>
                    <input class="btn-hack button" type="button" value="Book Now" ng-click="Search_Destinations();" >
                  </form>-->
                </div>
                <!--<form>
									<div class="formElemtbox">
									<label>Check-In</label>
									<input type="text" class="modifyChkIn formElement"/>
									</div>
									<div class="formElemtbox">
									<label>Check-Out</label>
									<input type="text" class="modifyChkOut formElement"/>
									</div>
									<div class="formElemtbox">
									<label>Rooms</label>
									<select class="modifyChkIn formElement"/>
									<option>2 adults 1 child</option>
									<option>2 adults 1 child</option>
									<option>2 adults 1 child</option>
									</select>
									</div>
									</form>
									
								-->
              </div>
            </div>
          </div>
          <div > </div>
        </div>
      </div>
    </div>
	  </div>
  </div>
</div>
<div class="hote_map-container" id="hote_map_container"></div>


<div class="container relatHotels" id="MapArea">
  <div class="col-md-12">
    <div class="hotel-detail-container">
      <div class="hotel-information-1">
        <div class="suggested_hotel_div">
          <h2 class="suggested_hotel_title">Hotels you might also like <span>Travellers who viewed this hotel also viewed these hotels</span></h2>
          <div class="sug_hotel_wrapper">
            <div class="sug_hotel_col" ng-repeat="Hotel_Suggestions in Hotel_Suggestions">
              <div class="sug_hotel_top"> <a ng-href="#/hotel-information/{{Hotel_Suggestions.EANHotelID}}/?fn=hotelInfo&checkIn={{checkInUrl}}&checkOut={{checkOutUrl}}&language={{Cri_language}}&currency={{currency}}&hotelType=1&rooms={{rooms}}&adults={{adults}}&childs={{childs}}&childAge={{childAge}}"> <img alt="" ng-src="http://images.trvl-media.com/{{ Hotel_Suggestions.thumbNailUrl }}"></a> </div>
              <div class="sug_hotel_bot">
                <div class="sName">
                  <p class="white ico16 lh1-2"> <a href="#/hotel-information/{{Hotel_Suggestions.EANHotelID}}/?fn=hotelInfo&checkIn={{checkInUrl}}&checkOut={{checkOutUrl}}&language={{Cri_language}}&currency={{currency}}&hotelType=1&rooms={{rooms}}&adults={{adults}}&childs={{childs}}&childAge={{childAge}}">{{ Hotel_Suggestions.name }}</a></p>
                  <address class="ico13 white">
                  <img alt="" ng-src="{{ Hotel_Suggestions.tripAdvisorRatingUrl }}">
                  </address>
                </div>
                <div class="sugHotPrice">${{ Hotel_Suggestions.lowRate }}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<script>
			
$('#fixedSide').affix({
offset: {     
	top: $('#fixedSide').offset().top,
   bottom: ($('footer').outerHeight(true) + $('.hote_map-container').outerHeight(true) + $('.relatHotels').outerHeight(true)) - 400
   }

});
var widt = $('.affix-top').width();
$('.affix-top').width(widt);	

$(window).scroll(function(){
	if ($(this).scrollTop() > 100) { // this refers to window
     $('.col-left-menu').addClass('col-left-fixed-menu');
    }
	else{
	$('.col-left-menu').removeClass('col-left-fixed-menu');	}
	
	var new_width = $('.content').width();
	$('.col-left-fixed-menu').width(new_width); 
	
	})
    
</script>
