.so-widget-sow-slider-default-8d1c91cd2906 .sow-slider-base .sow-slider-pagination li a {
  background: #e27434;
}
.so-widget-sow-slider-default-8d1c91cd2906 .sow-slider-base .sow-slide-nav {
  font-size: 26px;
}
.so-widget-sow-slider-default-8d1c91cd2906 .sow-slider-base .sow-slide-nav a {
  color: #e27434;
}